{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="row">
    {% include "dashboards/sidebar.html" %}

    <div class="col-md-9">
        {% if perms.auth.add_user %}
        <h2>Add new user</h2>
        <!-- main content here -->
        <form action="{% url "add_users" %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-warning b-4">Sumbit</button>
        </form>  
        {% else %}
        <h3 class="text-denger">You don't have permisson to see this page</h3>
        {% endif %}
    </div>
</div>
{% endblock %}