{% extends "base.html" %}
{% block content %}
<div class="row">
    {% include "dashboards/sidebar.html" %}

    <div class="col-md-9">
        <h2>All Categories List</h2>
        <a href="{% url "add_category" %}" class="btn btn-dark text-light float-right mb-2">Add new</a>
        <!-- main content here -->
        <table class="table">
        <thead>
            <tr>
                <th>Sl No.</th>
                <th>Category Name</th>
                <th>Created At</th>
                <th>Upgraded At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categorires %}
            <tr>
            <th scope="row">{{ forloop.counter }} </th>
            <td>{{ category }}</td>
            <td>{{ category.created_at }}</td>
            <td>{{ category.updated_at }}</td>
            <td>
                <a href="{% url "edit_category" category.id %}"><i class="fa fa-edit text-sucess"></i></a>&nbsp;
                <a href="{% url "delete_category" category.id %}"><i class="fa fa-trash text-danger"></i></a>&nbsp;
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>        
    </div>
</div>
{% endblock %}